<div class="category-container" *ngIf="categories">
  <mat-card class="category-list" *ngFor="let category of categories">
    <mat-card-header class="header-todo">
      <div class="header-todo-title">
        <strong>{{category.title}}</strong>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <section class="todo-list" *ngFor="let item of category.todos; trackBy: trackByFn">
      <mat-checkbox [checked]="item.isCompleted" (change)="todoComplete(category.id, item.id)">
        <div class="{{ item.isCompleted ? 'todo-complete' : ''}}">{{item.text}}</div>
      </mat-checkbox>
    </section>
  </mat-card>
</div>
